.selected-items {
    margin-right: 8px;
    border-radius: 4px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    height: auto;
}

.selected-item {
    display: flex;
    align-items: center;
    margin: 2px;
    padding: 5px;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 15px;
    font-weight: bold;
}

.remove-item-btn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #94a3b8;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.remove-item-btn:hover {
    background-color: #a9a9a9;
}

.emptyMessage {
    padding: 10px;
    color: #757575;
    background-color: #f0f0f0;
    text-align: center;
    border-radius: 4px;
}