.selected-items {
    margin-right: 8px;
    border-radius: 4px;
    padding: 5px 10px;
    height: auto;
}

.selected-item {
    margin: 2px;
    padding: 5px;
    background-color: var(--active-color);
    color: #333;
    border-radius: 15px;
    font-weight: bold;
}

.remove-item-btn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #94a3b8;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.remove-item-btn:hover {
    background-color: #a9a9a9;
}