.suggestion-item {
    --character-img-size: 50px;

    padding: 10px;
    cursor: pointer;
}

.character-image {
    width: var(--character-img-size);
    height: var(--character-img-size);
    border-radius: 20%;
    margin-right: 10px;
    object-fit: cover;
}

.character-episodes {
    font-size: 0.8rem;
}

.suggestion-checkbox {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}