.suggestions-list {
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
    background-color: #f8fafc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 1000;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid var(--border-color);
    margin-top: 8px;
}

.suggestions-list li {
    border-bottom: 1px solid #ddd;
}

.suggestions-list li:last-child {
    border-bottom: none;
}

.suggestion-item {
    cursor: pointer;
    background-color: transparent;
}

.suggestion-item.active {
    background-color: var(--active-color);
}